<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permission Denied</title>
</head>
<body>
    You don't have permission to access this page!
    <div>
        <button 
            onClick="window.location.href='/' + '<%= locals.userType %>' + '/'+'<%= locals.userId %>';"
        >
            return to user acccount settings page
        </button>
    </div>
    <div>
        <button onClick="window.location.href='/';">return to homepage</button>
    </div>
</body>
</html>